body {
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
  }
  


  section {
    padding: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
  }
  
  p {
    margin-bottom: 10px;
  }
  
 nav{
  margin-bottom: 20px;
 }
 
.logo{
  margin-right: 20px;
}

.footer{
  margin: 20px;
}
#footer{
  margin-bottom:0%;
}