

.logo{
  margin-right: 20px;
}

.texto{
  margin-top: 50px;
}




#btn{
  width: 80px;
  height: 50px;
}

.ver-mais{
  margin-bottom: 20px;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.posts{
  margin-top:20px;
  padding: 20px;
  border-radius: 4%;
}